@model DesafioASP.Models.CadastroExame

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CadastroExame</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeExame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeExame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTipoExame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTipoExame)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
